$black: #00060b;
$w:#fff;
$BG:#f2f0f0; //#f2f0f0 /#f7f7f7;
$BG2: #f7f7f7;
$text:#002948;
$text-2:#3d3d3d;
$t-l: 500ms ease-in-out;
$t-s: 250ms ease-in-out;
$hover:#3579b3;
$hover-1:#5fa3d9;
$light-shadow:  #498fdf80;
