---
import Button from "@components/ui/Button.astro";
---

<Button
  type="button"
  aria="open menu"
  ClassName="icon-nav-base"
  ariaEx={`false`}
  controll={`Mobile`}
  id="openMobileMenu"
>
  <span></span>
  <span></span>
  <span></span>
</Button>
