---
import Button from "./Button.astro"
---
<div class="quanity"  >
    <div class="d-flex items-center QuanityButtons">
        <!-- plus -->
        <Button type="button" ClassName="btn-quanity " aria="plus">+</Button>
        <!-- mins -->
        <Button type="button" ClassName="btn-quanity " aria="mins">-</Button>
    </div>
    <!-- input -->
    <input type="text" class=" text-center">
</div>